/*h1 {
  color: red;
}
#main {
  color: green;
}
.green-text {
  color: blue;
}
#main {
  color: yellow;
}
p[draggable='false'] {
  color: red;
}
p[draggable='true'] {
  color: pink;
}
*/
p {
  color:rgb(109, 91, 78);
}

.note {
  font-size: 30px;
}
#hi {
  color: #BF3131;
}
li[value='2'] {
  color: blue;
  background-color: #B17F59
}
body {
  background-color: antiquewhite;
}
h1{
  color:red
  background-color: #B17F59
}
